#######################################
# Z Axis
#######################################
[gcode_macro Z_TILT_ADJUST]
rename_existing: BASE_Z_TILT_ADJUST
gcode:
    BASE_Z_TILT_ADJUST
    G28 Z


#######################################
# Fan Control
#######################################
[gcode_macro M106]
description: "Set fan speed (Orca compatible)"
gcode:
    {% set fan_map = {
        0: "cooling_fan",
        3: "exhaust_fan",
        2: "auxiliary_cooling_fan",
    } %}
    {% set p = params.P|int if 'P' in params else 0 %}
    {% set fan = fan_map[p] if p in fan_map else fan_map[0] %}
    {% set speed = (params.S|float / 255 if 'S' in params else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
description: "Turn off fans. No P = all, P# = specific"
gcode:
    {% set fan_map = {
        "0": "cooling_fan",
        "3": "exhaust_fan",
        "2": "auxiliary_cooling_fan"
    } %}
    {% if 'P' in params %}
        {% set p = params.P %}
        {% if p in fan_map %}
            SET_FAN_SPEED FAN={fan_map[p]} SPEED=0
        {% endif %}
    {% else %}
        {% for f in fan_map.values() %}
            SET_FAN_SPEED FAN={f} SPEED=0
        {% endfor %}
    {% endif %}


#######################################
# Backup
#######################################
[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True


#######################################
# Spoolman
#######################################
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
    {% if params.ID %}
        {% set id = params.ID|int %}
        {action_call_remote_method(
           "spoolman_set_active_spool",
           spool_id=id
        )}
    {% else %}
        {action_respond_info("Parameter 'ID' is required")}
    {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
    {action_call_remote_method(
        "spoolman_set_active_spool",
        spool_id=None
    )}