# Plus4 config created by Phil1988(github)/coco.33(discord) on 04.05.2025
# For more information check out my wiki: https://github.com/Phil1988/FreeDi/wiki

[include fluidd.cfg]
[include KAMP_Settings.cfg]

#####################################################################
# Kinematics
#####################################################################
[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8


#####################################################################
# Motherboard and periphery
#####################################################################
[temperature_sensor Mainboard_RK3328]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[mcu]
serial: /dev/ttyS0
restart_method: command
baud: 500000

[temperature_sensor Mainboard_STM32F402]
sensor_type: temperature_mcu
sensor_mcu: mcu

[mcu Toolhead]
serial: /dev/ttyS2
restart_method: command
baud: 500000

[temperature_sensor Toolhead_STM32F103XE]
sensor_type: temperature_mcu
sensor_mcu: Toolhead
min_temp: 0
max_temp: 100


#####################################################################
# Features
#####################################################################
# For saving GCODE files
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# For enabling pause/resume
[pause_resume]

# Activating exclude objects feature
[display_status]
[exclude_object]

# Expanding idle timeout
[idle_timeout]
timeout: 5400   ; 90min timeout

# Activating GCODE arc feature
[gcode_arcs]
resolution: 1.0

# Allowing free move (can be dangerous!)
[force_move]
enable_force_move: True

# Activating responses
[respond]
default_type: echo


#####################################################################
# FreeDi
#####################################################################
[include freedi.cfg] 


#####################################################################
# Macros
#####################################################################
[include macros.cfg]

#####################################################################
# Input shaping
#####################################################################
[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 10
accel_per_hz: 75
sweeping_period: 0
max_smoothing: 0.5
    
[adxl345]
cs_pin: Toolhead:PA4
spi_software_sclk_pin: Toolhead:PA5
spi_software_mosi_pin: Toolhead:PA7
spi_software_miso_pin: Toolhead:PA6
axes_map: -x, z, -y

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 57.6
shaper_type_y: mzv
shaper_freq_y: 46.6


#####################################################################
# Hotend
#####################################################################
[extruder]
step_pin: Toolhead:PB9
dir_pin: Toolhead:PB8
enable_pin: !Toolhead:PC15
rotation_distance: 53.7
gear_ratio: 1517:170
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 360
min_extrude_temp: 170
smooth_time: 0.000001
step_pulse_duration: 0.000002

heater_pin: Toolhead:PB3
sensor_type: MAX6675
sensor_pin: Toolhead:PB12
max_power: 1.0
control: pid  
pid_Kp: 33.879
pid_Ki: 6.453
pid_Kd: 44.467

spi_speed: 100000
spi_software_sclk_pin: Toolhead:PB13
spi_software_mosi_pin: Toolhead:PA11
spi_software_miso_pin: Toolhead:PB14

pressure_advance: 0.032
pressure_advance_smooth_time: 0.03
max_extrude_cross_section:500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 5000

[verify_heater extruder]
max_error: 120
check_gain_time:20
hysteresis: 5
heating_gain: 1


#####################################################################
# Heated bed
#####################################################################
[heater_bed]
heater_pin: PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
control: pid
pid_kp: 70.638
pid_ki: 0.671
pid_kd: 1859.554
min_temp: -50
max_temp: 125
pwm_cycle_time: 0.02 # for 50Hz line power 
#pwm_cycle_time: 0.016 # for 60Hz line power

[verify_heater heater_bed]
max_error: 200
check_gain_time: 360
hysteresis: 5
heating_gain: 1


#####################################################################
# Bed mesh
#####################################################################
[bed_mesh]
speed: 150
horizontal_move_z: 2
zero_reference_position: 152.5, 152.5
mesh_min: 22, 22
mesh_max: 283, 283
probe_count: 14, 14
algorithm: bicubic
bicubic_tension: 0.3
mesh_pps: 2, 2
fade_start: 2
fade_end: 10
fade_target: 0
split_delta_z: 0.01
move_check_distance: 4


#####################################################################
# Probe
#####################################################################
#!# Pay attention to this section and compare it with your stock backup config
# [probe]
# pin: ^!Toolhead:PA10
# x_offset: 25
# y_offset: 1.3
# z_offset: 1.00             #!# change this to 0 if you get a "Probe triggered prior to movement" - Error
# speed: 5
# samples: 2
# samples_result: average
# sample_retract_dist: 0.7
# samples_tolerance: 0.08
# samples_tolerance_retries: 3

# Check this for documentation https://github.com/frap129/qidi_auto_z_offset
# Add AUTO_Z_LOAD_OFFSET to your PRINT_START macro to load the value every time you start a print. 
# If you make adujstments to the offset by micro-stepping durring a print, you can save that with AUTO_Z_SAVE_GCODE_OFFSET and SAVE_CONFIG

# [auto_z_offset]
# pin: PC1
# # Adjust this z_offset value for a good first layer: 
# # decrease if lines are squished (eg -0.2 -> -0.25)
# # increase if lines are thin/not sticking (-0.2 -> -0.15)
# z_offset: -0.2 
# calibrated_z_offset: -1.00
# speed: 13
# probe_accel: 50
# samples: 5
# samples_result: median
# samples_tolerance: 0.013
# samples_tolerance_retries: 5
# offset_samples: 3
# prepare_gcode:
#    G90
#    G0 Z3
#    G91
#    SET_PIN PIN=bed_sensor VALUE=0
#    M204 S10000
#    {% set i = 6 %}
#    {% for iteration in range(i|int) %}
#        G1 Z5 F1200
#        G1 Z-5 F1200
#    {% endfor %}
#    G1 Z3
#    G90
#    SET_PIN PIN=bed_sensor VALUE=1

# [output_pin bed_sensor]
# pin: !PA14
# pwm: false
# shutdown_value:0
# value:0

#####################################################################
# Beacon
#####################################################################
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_72D5E6FF5157383837202020FF052405-if00
x_offset: 0
y_offset: -18.8
mesh_main_direction: x
mesh_runs: 2

[safe_z_home]
home_xy_position: 152.5, 171.3
z_hop: 3

#####################################################################
# Heated chamber
#####################################################################
[temperature_sensor chamber_sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA1


[heater_generic chamber]
heater_pin: PC8
#!# Caution!
#set max_power to 0.4 for 110V
#set max_power to 0.7 for 220V
#set max_power to 1.0 if you are using a quality aftermarket SSR with a heat sink
max_power: 0.4                #!# Pay attention to this value and compare it with your stock backup config and with caution (read the comments)
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_pin: PA1
sensor_type: temperature_combined
sensor_list: temperature_sensor Toolhead_STM32F103XE, temperature_sensor Toolhead_STM32F103XE, temperature_sensor Toolhead_STM32F103XE, temperature_sensor chamber_sensor
combination_method: mean
maximum_deviation: 70
control: pid
pid_Kp: 63.418 
pid_Ki: 1.342 
pid_Kd: 749.125
min_temp: -100
max_temp: 75

[verify_heater chamber]
max_error: 400
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[temperature_sensor Chamber_Heater]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC2
min_temp: -100
max_temp: 140


########################################
# Filament sensors
########################################
[filament_switch_sensor filament_tangle_sensor]
switch_pin: PC3
pause_on_runout: True
runout_gcode:
            M118 Filament tangled!
event_delay: 3.0
pause_delay: 0.5


# Modified hall_filament_width_sensor.py implementation to only use it as filament detection sensor
# reason is that measured values are unreliable and it cant really be used as a real [hall_filament_width_sensor]
[freedi_hall_filament_width_sensor]
adc1: Toolhead:PA2
adc2: Toolhead:PA3
cal_dia1: 1.50
cal_dia2: 2.0
raw_dia1: 14206
raw_dia2: 15278
default_nominal_filament_diameter: 1.75
max_difference: 0.00
measurement_delay: 50
enable: True
measurement_interval: 3
logging: False
min_diameter: 1.00
use_current_dia_while_delay: False
pause_on_runout: True
runout_gcode:
            M118 Filament run out!
event_delay: 3.0
pause_delay: 0.5


#####################################################################
# Fans
#####################################################################
## Part cooling fan 
# [fan_generic partfan]
# pin: Toolhead:PA8
# max_power: 1.0
# cycle_time: 0.0100
# hardware_pwm: false
# kick_start_time: 0.200
# off_below: 0.08
# shutdown_speed: 0
[fan]
pin: Toolhead:PA8
max_power: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.200
off_below: 0.08
shutdown_speed: 0.0

## Big side radial turbo fan
[fan_generic sidefan]
pin: PA8
max_power: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.250
off_below: 0.3
shutdown_speed: 0

## Activated charcoal blowing fan
[fan_generic filterfan]
pin: PC9
max_power: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.200
off_below: 0.3
shutdown_speed: 0

## Chamber heater fan
[heater_fan chamber_heater_fan]
pin: PA4
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater: chamber
fan_speed: 1.0
off_below: 0
heater_temp: 40 

## Cold end and toolhead housing fans
[heater_fan hotend_fan]
pin: Toolhead:PB5
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

# Toolhead cooling fan
[heater_fan hotend_fan2]
pin:Toolhead: PB4
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

# Toolhead cooling fan
[heater_fan hotend_fan3]
pin:Toolhead: PB10
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

#!# Delete the next section if your stock backup config doesnt have it
## Controllable Mainboard cooling fan
[temperature_fan Mainboard_fan]
sensor_type: temperature_host 
pin: PC4
max_power: 1.0  
cycle_time: 0.01
sensor_type: temperature_combined
sensor_list: temperature_sensor Mainboard_RK3328, temperature_sensor Mainboard_STM32F402
combination_method: max                                           # use the maximum reading of the sensors
maximum_deviation: 999.9                                          # we don't care about the difference in temperature
shutdown_speed: 0.0
kick_start_time: 0.4
off_below: 0.19
min_temp: 0
max_temp: 85.0 
target_temp: 42.0
min_speed: 0
max_speed: 1.0
control: pid
pid_deriv_time: 2.0
pid_Kp: 5.0
pid_Ki: 2.5
pid_Kd: 3.5


#####################################################################
# Light
#####################################################################
## caselight LEDs
[output_pin caselight]
pin: PC7
pwm: true
cycle_time: 0.0100
shutdown_value:0
value:1


#####################################################################
# Buzzer
#####################################################################
## Buzzer
[output_pin buzzer]
pin: PA2
pwm: false
shutdown_value:0
value:0

[output_pin sound]
pin: Toolhead:PA1
value:0


#####################################################################
# Power outage shutdown
#####################################################################
[output_pin pwc]
pin: PA3
pwm: False
value: 1
shutdown_value: 1


#####################################################################
# Drives
#####################################################################
[stepper_x]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation: 200 
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: -1.5
position_endstop: -1.5
position_max: 307
homing_speed: 55
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[stepper_y]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PC15
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation:200  
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max: 325
homing_speed: 55
homing_retract_dist: 0
homing_positive_dir: False
step_pulse_duration: 0.0000001

[stepper_z]
step_pin: PB1
dir_pin: PB6
enable_pin: !PB0
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max:285
position_min: -4
homing_speed: 13
homing_retract_dist: 0
second_homing_speed: 5
homing_positive_dir: False
step_pulse_duration: 0.000002

[stepper_z1]
step_pin: PC10
dir_pin: PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200
step_pulse_duration: 0.000002

#####################################################################
# Steppers configuration
#####################################################################
[tmc2209 extruder]
uart_pin: Toolhead:PC13
interpolate: False
run_current: 0.714             #!# Pay attention to this value and compare it with your stock backup config
stealthchop_threshold: 0
sense_resistor: 0.075

[tmc2240 stepper_x]
cs_pin: PD2
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_speed: 200000
run_current: 1.07               #!# Pay attention to this value and compare it with your stock backup config
interpolate: False
stealthchop_threshold: 0
diag0_pin: !PB8
driver_SGT: 1
rref: 12000

[tmc2240 stepper_y]
cs_pin: PB9
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_speed: 200000
run_current: 1.07              #!# Pay attention to this value and compare it with your stock backup config
interpolate: False
stealthchop_threshold: 0
diag0_pin: !PC0
driver_SGT:1
rref: 12000

[tmc2209 stepper_z]
uart_pin: PB7
run_current: 1.07              #!# Pay attention to this value and compare it with your stock backup config
interpolate: False
stealthchop_threshold: 9999999999
diag_pin: ^PA13
sense_resistor: 0.075


[tmc2209 stepper_z1]
uart_pin: PC5
run_current: 1.07              #!# Pay attention to this value and compare it with your stock backup config
interpolate: False
stealthchop_threshold: 9999999999
diag_pin: ^PC12
sense_resistor: 0.075

#####################################################################
# Bed tilt adjust
#####################################################################
[z_tilt]
z_positions:
    -17.5, 152.5
    335.7, 152.5

points:
    40, 171.3
    265, 171.3

speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

#####################################################################
# Screws tilt adjust
#####################################################################
[screws_tilt_adjust] 
horizontal_move_z: 5
screw_thread: CW-M4
speed: 300

screw1:0,20
screw1_name: Front left
screw2: 260,20
screw2_name: Front right
screw3: 260,280
screw3_name: Back right
screw4: 0,280
screw4_name: Back left

[include shell_command.cfg]
[include autotune_tmc.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.5771185174299163,
#*# 	1.9621190948524083,
#*# 	0.8691675651065854,
#*# 	0.4690043785812216,
#*# 	0.14541334640064307,
#*# 	-0.2542024347906764,
#*# 	-0.17325192706203935,
#*# 	0.26133022007499157,
#*# 	0.18047703703269052,
#*# 	-0.03401443282696489
#*# model_domain = 1.8515056103439736e-07,1.9296773686379616e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 29.176552
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.118478, 0.133148, 0.096601, 0.094223, 0.095691, 0.062239, 0.050965, 0.045577, 0.033052, 0.051650, 0.064828, 0.078147, 0.100426, 0.090113
#*# 	  0.118699, 0.098892, 0.079950, 0.074671, 0.077971, 0.040422, 0.032377, 0.027253, 0.016542, 0.037459, 0.047135, 0.056943, 0.067147, 0.085682
#*# 	  0.123030, 0.111129, 0.095096, 0.087256, 0.088239, 0.061947, 0.047291, 0.039454, 0.040562, 0.058912, 0.059392, 0.071008, 0.094665, 0.098288
#*# 	  0.134623, 0.124759, 0.103585, 0.088316, 0.087335, 0.064839, 0.057475, 0.053556, 0.056341, 0.065578, 0.065150, 0.076049, 0.096940, 0.102045
#*# 	  0.114657, 0.103007, 0.086238, 0.074683, 0.060317, 0.039680, 0.034665, 0.028486, 0.036266, 0.049450, 0.045615, 0.061115, 0.080889, 0.099061
#*# 	  0.097138, 0.081952, 0.063603, 0.051937, 0.040397, 0.025140, 0.026612, 0.023090, 0.028047, 0.039217, 0.039076, 0.047797, 0.067401, 0.074805
#*# 	  0.083309, 0.069324, 0.043372, 0.032913, 0.027280, 0.014711, 0.010319, 0.005462, 0.010068, 0.028234, 0.032687, 0.046282, 0.058595, 0.071976
#*# 	  0.061310, 0.045774, 0.030111, 0.018878, -0.001841, -0.012557, -0.011814, -0.017229, -0.011650, -0.000419, 0.011792, 0.023237, 0.049064, 0.056433
#*# 	  0.050398, 0.040797, 0.022292, 0.003523, -0.010572, -0.020453, -0.014310, -0.022063, -0.020740, -0.004700, 0.006799, 0.020576, 0.043821, 0.057116
#*# 	  0.060528, 0.047279, 0.026351, 0.011722, 0.007558, -0.005249, 0.000842, 0.000821, 0.004820, 0.013491, 0.024414, 0.035302, 0.063207, 0.076710
#*# 	  0.034358, 0.029074, 0.003724, -0.015528, -0.014849, -0.031161, -0.022684, -0.014353, -0.016964, -0.009894, 0.002200, 0.023681, 0.042639, 0.063988
#*# 	  0.027312, 0.022060, 0.000578, -0.015403, -0.025122, -0.046296, -0.034397, -0.032053, -0.030536, -0.015075, -0.005277, 0.012223, 0.043256, 0.064755
#*# 	  0.020134, 0.017470, 0.003099, -0.003326, -0.021621, -0.035353, -0.037452, -0.038216, -0.031824, -0.012713, -0.002688, 0.016413, 0.031170, 0.066613
#*# 	  0.026403, 0.032603, 0.021016, 0.009933, -0.004292, -0.024537, -0.016574, -0.015444, -0.012330, 0.007495, 0.022174, 0.032771, 0.060340, 0.072115
#*# x_count = 14
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 22.0
#*# max_x = 283.0
#*# min_y = 22.0
#*# max_y = 283.0
