#######################################
# Plugins, Includes & Basic Setup
#######################################
[include plugins/*.cfg]

#[include moonraker_obico_macros.cfg]

#[include timelapse.cfg]

[include KAMP_Settings.cfg]

[include macros/*.cfg]

[include gcode_macros.cfg]

[include freedi.cfg]
    
[print_stats]

[duplicate_pin_override]
pins:
    
[gcode_arcs]
resolution: 0.5

[force_move]
enable_force_move: True

[exclude_object]

[pause_resume]

[respond]

[virtual_sdcard]
path: /home/mks/printer_data/gcodes

[display_status]

[idle_timeout]
timeout: 5400

[firmware_retraction]
retract_length: 0.8
retract_speed: 50
unretract_extra_length: 0
unretract_speed: 50

#######################################
# Happy Hare MMU
#######################################
# [include bunnybox_macros.cfg] 
# [include mmu/base/*.cfg]
# [include mmu/*.cfg]
# [include mmu/addons/*.cfg]
# [include mmu/optional/*.cfg]

[save_variables]
filename: ~/printer_data/config/variables.cfg

#######################################
# Klipper TMC Autotune
#######################################
[motor_constants qidi_xy_motors]
resistance: 1.4
inductance: 0.0026
holding_torque: 0.41
max_current: 1.5
steps_per_revolution: 200

[motor_constants qidi_z_motors]
resistance: 2.0
inductance: 0.0034
holding_torque: 0.28
max_current: 1.5
steps_per_revolution: 200

[motor_constants qidi_extruder_motors]
resistance: 2.0
inductance: 0.0013
holding_torque: 0.1
max_current: 1.0
steps_per_revolution: 200

#######################################
# MCU Definitions
#######################################
[mcu]
serial: /dev/ttyS0
restart_method: command
baud: 500000

[mcu toolhead]
serial: /dev/ttyS2
restart_method: command
baud: 500000

#[mcu host]
#serial: /tmp/klipper_host_mcu

#######################################
# Basic Printer Kinematics
#######################################
[printer]
kinematics: corexy
max_velocity: 600
max_accel: 4000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5

[temperature_sensor mainboard_mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor toolhead_mcu]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[temperature_sensor Mainboard_RK3328]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#######################################
# Bed Screws
#######################################
[bed_screws]
screw1: 21, 24
screw1_name: Front left
screw2: 278, 24
screw2_name: Front right
screw3: 278, 283
screw3_name: Back right
screw4: 21, 283
screw4_name: Back left
speed: 150

[screws_tilt_adjust]
screw1: 21, 24
screw1_name: Front left
screw2: 278, 24
screw2_name: Front right
screw3: 278, 283
screw3_name: Back right
screw4: 21, 283
screw4_name: Back left
screw_thread: CW-M4
speed: 150

#######################################
#   Bed Mesh
#######################################
[bed_mesh]
speed: 300
horizontal_move_z: 2
zero_reference_position: 152.5, 152.5
mesh_min: 30, 30
mesh_max: 270, 270
probe_count: 14, 14
algorithm: bicubic
bicubic_tension: 0.3
mesh_pps: 2, 2
fade_start: 1
fade_end: 10
fade_target: 0
split_delta_z: 0.01
move_check_distance: 4

#######################################
#   Z Tilt and Screws
#######################################
[z_tilt]
z_positions:
    -17.5,152.5
    335.7,152.5
points:
    40, 171.3           # Assumes we are using the stew675 beacon mount offsets of X=0, Y=-18.8
    265, 171.3          # Assumes we are using the stew675 beacon mount offsets of X=0, Y=-18.8
speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

#######################################
# Extruder Settings
#######################################
[extruder]
step_pin: toolhead:PB9
dir_pin: toolhead:PB8
enable_pin: !toolhead:PC15
rotation_distance: 53.7
gear_ratio: 1517:170
microsteps: 16
# microsteps: 64
full_steps_per_rotation: 200
nozzle_diameter: 0.400
min_temp: 0
max_temp: 370
min_extrude_temp: 175
smooth_time: 0.000001
heater_pin: toolhead:PB3
sensor_type: MAX6675
sensor_pin: toolhead:PB12
spi_speed: 100000
spi_software_sclk_pin: toolhead:PB13
spi_software_mosi_pin: toolhead:PA11
spi_software_miso_pin: toolhead:PB14
max_power: 1 

pressure_advance: 0.032
pressure_advance_smooth_time: 0.03
max_extrude_cross_section: 500
instantaneous_corner_velocity: 10
max_extrude_only_distance: 1000
max_extrude_only_velocity: 5000
max_extrude_only_accel: 5000
step_pulse_duration: 0.000002

filament_diameter: 1.75

# control: mpc # Kalico feature
# heater_power: 86 
# cooling_fan: fan_generic cooling_fan
# ambient_temp_sensor: temperature_sensor beacon_coil
# filament_density: 1.20
# filament_heat_capacity: 1.80 

[tmc2209 extruder]
uart_pin: toolhead:PC13
interpolate: false
run_current: 0.714
stealthchop_threshold: 0
sense_resistor: 0.075

[autotune_tmc extruder]
motor: qidi_extruder_motors
tuning_goal: performance

#######################################
# Resonance Testing
#######################################
# [adxl345]
# cs_pin: toolhead:PA4
# spi_software_sclk_pin: toolhead:PA5
# spi_software_mosi_pin: toolhead:PA7
# spi_software_miso_pin: toolhead:PA6
# axes_map: -x, z, -y

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#    150, 150, 10

# [resonance_tester]
# accel_per_hz: 150
# max_smoothing: 0.5

#[input_shaper]
#enabled_extruders: extruder

#######################################
# Stepper Configs for XYZ
#######################################
[stepper_x]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation: 200 # set to 400 for 0.9 degree stepper
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: -1.5
position_endstop: -1.5
position_max: 307
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: false
step_pulse_duration: 0.0000001

[tmc2240 stepper_x]
cs_pin: PD2
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_speed: 200000
run_current: 1.07
# home_current: 0.74 # Kalico feature
interpolate: true
stealthchop_threshold: 0
diag0_pin: !PB8
driver_SGT: 1
rref: 12000

[autotune_tmc stepper_x]
motor: qidi_xy_motors
tuning_goal: performance

[stepper_y]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PC15
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation: 200
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_min: -3
position_endstop: -3
position_max: 325
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: false
step_pulse_duration: 0.0000001

[tmc2240 stepper_y]
cs_pin: PB9
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_speed: 200000
run_current: 1.07
# home_current: 0.74 # Kalico feature
interpolate: true
stealthchop_threshold: 0
diag0_pin: !PC0
driver_SGT: 1
rref: 12000

[autotune_tmc stepper_y]
motor: qidi_xy_motors
tuning_goal: performance

[stepper_z]
step_pin: PB1
dir_pin: PB6
enable_pin:!PB0
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 287
position_min: -4
homing_speed: 10
second_homing_speed: 5
homing_retract_dist: 0
homing_positive_dir: false

[tmc2209 stepper_z]
uart_pin: PB7
run_current: 1.07
interpolate: false
stealthchop_threshold: 999999
diag_pin: ^PA13
driver_SGTHRS: 100
sense_resistor: 0.075

[autotune_tmc stepper_z]
motor: qidi_z_motors
tuning_goal: silent

[stepper_z1]
step_pin: PC10
dir_pin: PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PC5
run_current: 1.07
interpolate: false
stealthchop_threshold: 999999
diag_pin: ^PC12
driver_SGTHRS: 100
sense_resistor: 0.075

[autotune_tmc stepper_z1]
motor: qidi_z_motors
tuning_goal: silent

#######################################
# Heaters
#######################################
[heater_bed]
heater_pin: PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
#pwm_cycle_time: 0.001
pwm_cycle_time: 0.016  # 60Hz US power
min_temp: 0
max_temp: 125

[heater_generic chamber]
heater_pin: PC8
max_power: 0.4
sensor_type: temperature_combined
sensor_list: temperature_sensor toolhead_mcu, temperature_sensor chamber_probe
combination_method: mean
maximum_deviation: 70

pwm_cycle_time:0.02088            # Reduced to 0.02088 seconds to reduce flicker (within 0.3 limit)
#control = pid
# pid_Kp=45
# pid_Ki=0.1
# pid_Kd=5000
#pid_Kp=63.418 
#pid_Ki=1.342 
#pid_Kd=749.125
min_temp: -100
max_temp: 80

[temperature_sensor chamber_probe]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA1

[verify_heater chamber]
max_error: 400
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[temperature_sensor chamber_thermal_protection_sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC2
min_temp: -100
max_temp: 140

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 1

[verify_heater heater_bed]
max_error: 200
check_gain_time: 360
hysteresis: 10
heating_gain: 1

#######################################
# Fans
#######################################
[fan_generic cooling_fan]
pin: toolhead:PA8
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
tachometer_pin: toolhead:PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[fan_generic auxiliary_cooling_fan]
pin: PA8
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100

[fan_generic exhaust_fan]
pin: PC9
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100

[heater_fan hotend_fan]
pin: toolhead:PB5
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
tachometer_pin: ^toolhead:PA10

[heater_fan chamber_fan]
pin: PA4
max_power: 1.0
kick_start_time: 0.5
heater: chamber
fan_speed: 1.0

[controller_fan board_fan]
pin: PC4
max_power: 1.0
fan_speed: 1
kick_start_time: 0
stepper: stepper_x

# [temperature_fan board_fan]
# pin: PC4
# max_power: 1.0
# shutdown_speed: 1.0
# cycle_time: 0.01
# min_power: 0
# sensor_type: temperature_host
# control: pid
# pid_deriv_time: 2.0
# pid_Kp: 5
# pid_Ki: 2
# pid_Kd: 5
# target_temp: 50
# min_speed: 0.3
# max_speed: 1.0
# min_temp: 0
# max_temp: 100

#[heater_fan hotend_fan2]
#pin: toolhead:PB4
#max_power: 1.0
#shutdown_speed: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0

#[heater_fan hotend_fan3]
#pin: toolhead:PB10
#max_power: 1.0
#shutdown_speed: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0

# cooling fan for @spookniks mod
# [fan_generic cooling_fan]
# pin: toolhead:PB10
# max_power: 1.0
# shutdown_speed: 0
# cycle_time: 0.010
# hardware_pwm: false
# kick_start_time: 0.100

#######################################
# Filament Sensors
#######################################
[filament_switch_sensor filament_tangle_sensor]
switch_pin: PC3
pause_on_runout: True
runout_gcode:
    M118 Filament tangle detected
event_delay: 3.0
pause_delay: 0.5

# [filament_switch_sensor Toolhead]
# switch_pin: ^toolhead:PA3
# pause_on_runout: True
# runout_gcode:
#     PAUSE
#     M118 Filament run out

# [hall_filament_width_sensor]
# adc1: toolhead:PA2
# adc2: toolhead:PA3
# cal_dia1: 1.50
# cal_dia2: 2.00
# raw_dia1: 14197
# raw_dia2: 15058
# default_nominal_filament_diameter: 1.75
# max_difference: 0 # 0.200
# measurement_delay: 50
# enable: false
# measurement_interval: 10
# logging: false
# min_diameter: 0.2
# use_current_dia_while_delay: false
# pause_on_runout: true
# runout_gcode:
#            RESET_FILAMENT_WIDTH_SENSOR
#            M118 Filament run out
# event_delay: 3.0
# pause_delay: 0.5

#######################################
 # Miscellaneous Outputs
#######################################
[output_pin caselight]
pin: PC7
pwm: false
shutdown_value: 1
value: 1

# [output_pin beeper]
# pin: PA2
# pwm: false
# shutdown_value: 0
# value: 0

# [output_pin ctlyd]
# pin: PA14
# pwm: false
# shutdown_value: 0
# value: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 75.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 41.8
#*# damping_ratio_x = 0.049
#*# damping_ratio_y = 0.072
#*#
#*# [beacon model default]
#*# model_coef = 1.5327772293062616,
#*# 	  1.8852695423479886,
#*# 	  0.7981233638001658,
#*# 	  0.3589323553637804,
#*# 	  0.3659220121311556,
#*# 	  0.41115938090575005,
#*# 	  -0.268507107642,
#*# 	  -0.5172008629911201,
#*# 	  0.1705086524620092,
#*# 	  0.26491708835191974
#*# model_domain = 1.8423644806676387e-07,1.9287264896877978e-07
#*# model_range = 0.199583,4.999583
#*# model_temp = 58.548951
#*# model_offset = -0.02000
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 71.674
#*# pid_ki = 0.657
#*# pid_kd = 1954.021
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.138715, 0.117099, 0.095190, 0.096744, 0.098583, 0.067095, 0.057803, 0.059397, 0.043239, 0.055198, 0.072646, 0.086536, 0.109620, 0.122251
#*# 	  0.122644, 0.101495, 0.091310, 0.093185, 0.089072, 0.060035, 0.057054, 0.056797, 0.042895, 0.059208, 0.074772, 0.078759, 0.098789, 0.121817
#*# 	  0.135808, 0.115343, 0.111172, 0.107500, 0.100105, 0.075399, 0.070085, 0.068055, 0.068989, 0.073990, 0.084960, 0.091712, 0.107499, 0.124974
#*# 	  0.136737, 0.121394, 0.106477, 0.089334, 0.086197, 0.066847, 0.070449, 0.067976, 0.065397, 0.079566, 0.078898, 0.092884, 0.104508, 0.118803
#*# 	  0.109370, 0.093538, 0.078702, 0.071945, 0.056577, 0.036174, 0.038606, 0.036986, 0.043466, 0.053342, 0.057105, 0.060236, 0.079680, 0.099485
#*# 	  0.092134, 0.074357, 0.059003, 0.049540, 0.040706, 0.026042, 0.026107, 0.026977, 0.031289, 0.044180, 0.047373, 0.050674, 0.066051, 0.085158
#*# 	  0.080563, 0.059186, 0.041141, 0.032531, 0.024972, 0.015320, 0.011510, 0.005470, 0.014788, 0.021737, 0.036552, 0.038502, 0.064901, 0.071177
#*# 	  0.053719, 0.040033, 0.029073, 0.018020, 0.001727, -0.012106, -0.006309, -0.006989, -0.011060, -0.002887, 0.013693, 0.020368, 0.043419, 0.056531
#*# 	  0.044889, 0.025489, 0.014627, -0.000218, -0.006970, -0.029453, -0.013981, -0.017538, -0.021198, -0.016488, 0.000533, 0.014856, 0.031138, 0.046161
#*# 	  0.058205, 0.036347, 0.018986, 0.010426, -0.005296, -0.018966, -0.010469, -0.001016, -0.002367, -0.011192, 0.019078, 0.028021, 0.044685, 0.065582
#*# 	  0.050796, 0.035289, 0.006543, -0.008364, -0.007359, -0.022961, -0.018419, -0.009681, -0.015440, 0.004773, 0.015255, 0.020906, 0.039428, 0.060392
#*# 	  0.034548, 0.018099, -0.013155, -0.020352, -0.032479, -0.046800, -0.043485, -0.036844, -0.039153, -0.031032, -0.007560, -0.001161, 0.025355, 0.049812
#*# 	  0.034704, 0.014801, 0.006471, -0.012896, -0.029455, -0.044582, -0.053836, -0.042590, -0.038283, -0.026339, -0.015328, 0.000700, 0.021046, 0.050042
#*# 	  0.029128, 0.021447, 0.004446, -0.008684, -0.027656, -0.048377, -0.043520, -0.043100, -0.038855, -0.022974, -0.001781, 0.004001, 0.028688, 0.054541
#*# x_count = 14
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 30.0
#*# max_x = 270.0
#*# min_y = 30.0
#*# max_y = 270.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.632
#*# pid_ki = 3.446
#*# pid_kd = 87.014
#*#
#*# [heater_generic chamber]
#*# control = pid
#*# pid_kp = 29.855
#*# pid_ki = 0.172
#*# pid_kd = 1294.021
#*#
#*# [bed_mesh kamp]
#*# version = 1
#*# points =
#*# 	0.033193, 0.021331, 0.033236, 0.024436, 0.036101
#*# 	0.026657, 0.022405, 0.019484, 0.017982, 0.025223
#*# 	0.017335, 0.009358, 0.017537, 0.013233, 0.016112
#*# 	0.004513, 0.004461, 0.000000, -0.000243, 0.003540
#*# 	-0.006886, -0.005621, -0.000566, -0.008159, -0.007472
#*# 	-0.010519, -0.012159, 0.000434, -0.009837, -0.003300
#*# 	0.011650, 0.011062, 0.018456, 0.011680, 0.019530
#*# x_count = 5
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 117.5
#*# max_x = 187.5
#*# min_y = 104.3
#*# max_y = 200.7
