#######################################
# Bed Mesh Mode Control
#######################################
# G31 = KAMP adaptive mesh mode (default)
# G32 = Full bed mesh mode
# G29 = Full bed preparation sequence (homing, z-tilt, mesh)

[gcode_macro G31]
description: Enable KAMP adaptive bed meshing profile
gcode:
    SET_GCODE_VARIABLE MACRO=G29 VARIABLE=k VALUE=1

[gcode_macro G32]
description: Enable default full bed meshing profile
gcode:
    SET_GCODE_VARIABLE MACRO=G29 VARIABLE=k VALUE=0

[gcode_macro G29]
variable_k: 1
description: Prepare print bed, generate a bed mesh, and apply global Z nozzle offset
gcode:
    _FIND_Z_EQUALS_ZERO                                            # The user must make sure that nothing else homes Z after this call
    {% if k|int==1 %}
        BED_MESH_CALIBRATE PROFILE=kamp                            # KAMP adaptive mesh
        BED_MESH_PROFILE LOAD=kamp
        SAVE_VARIABLE VARIABLE=profile_name VALUE='"kamp"'
    {% else %}
        BED_MESH_CALIBRATE PROFILE=default                         # Full bed mesh
        BED_MESH_PROFILE LOAD=default
        SAVE_VARIABLE VARIABLE=profile_name VALUE='"default"'
        SET_GCODE_VARIABLE MACRO=G29 VARIABLE=k VALUE=1            # Reactivate KAMP/Adaptive mode for next time
    {% endif %}


#######################################
# Bed Settling
#######################################
# _SETTLE_PRINT_BED is called by _FIND_Z_EQUALS_ZERO to stabilize
# the bed springs before contact probing

[gcode_macro _SETTLE_PRINT_BED]
description: Vibrate bed up and down to settle any movement in the springs
gcode:
    G1 Z4 F600                              # Move to Z=4
    G91                                     # Enter relative positioning mode
    M400                                    # Wait for all prior commands to finish
    {% for z in range(50) %}                # Loop 50 times
        G1 Z1 F5000                         # Move bed down by 1mm
        G1 Z-1 F5000                        # Move bed up by 1mm
    {% endfor %}
    G90                                     # Go back to absolute positioning mode
    M400                                    # Wait for all prior commands to finish
    G1 Z4 F600                              # Make sure Z=4mm before we leave the macro


#######################################
# Bed Tramming
#######################################

[gcode_macro PLATFORM_CALIBRATE]
description: Ram bed into frame stops to mechanically auto-level Z
gcode:
    {% set HOME_CURRENT = 0.7 %}
    {% set RUN_CURRENT_Z = printer.configfile.settings['tmc2209 stepper_z'].run_current|float %}
    {% set RUN_CURRENT_Z1 = printer.configfile.settings['tmc2209 stepper_z1'].run_current|float %}
    {% set ZMAX = printer.configfile.settings['stepper_z'].position_max|int %}
    SET_GCODE_OFFSET Z=0
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}

    G28 Z                                   # Rehome Z

    G0 Z275 F600                            # Run Z nearly to ZMAX

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={HOME_CURRENT}    # Lower Z current
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={HOME_CURRENT}

    G0 Z{ZMAX} F50                          # Ram Z into platform stops

    M400                                    # Wait for StallGuard to clear

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={RUN_CURRENT_Z}   # Restore Z current
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={RUN_CURRENT_Z1}

    G0 Z25 F600                             # Move Z back down