#######################################
# Print Pause
#######################################
# Parks toolhead at purge chute, retracts filament, and turns off hotend
# Z hop height can be passed as parameter e.g. PAUSE Z=50

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(35)|int %}
    
    {% if printer['pause_resume'].is_paused|int == 0 %}
        # Save state for resume
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=efan VALUE={printer["fan_generic cooling_fan"].speed * 255}
        SAVE_GCODE_STATE NAME=PAUSE
        BASE_PAUSE

        # Retract filament
        G92 E0
        G1 E-5 F1800

        # Z hop
        {% if (printer.gcode_move.position.z) < z %}
            G91
            G1 Z{z} F900
        {% else %}
            G91
            G1 Z5 F900
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}

        # Park at purge chute
        G90
        G1 X93 F12000
        G1 Y312 F12000
        G1 Y316 F600
        G1 Y320 F9000
        G1 Y324 F600

        # Turn off hotend and set long idle timeout
        M104 S0
        SET_IDLE_TIMEOUT TIMEOUT=86400                  # 24 hour timeout while paused

        # Disable extruder stepper
        SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    {% endif %}


#######################################
# Print Resume
#######################################
# Heats hotend, purges and wipes nozzle, then restores position and resumes

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
variable_efan: 0
gcode:
    {% set e = params.E|default(5)|int %}

    # Handle heat soak resume if active
    {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}
    {% if heat_soak.stage in ("heating", "soaking") %}
        HEAT_SOAK_RESUME
        M117 Heat soak skipped by resume
    {% endif %}

    {% if printer['pause_resume'].is_paused|int == 1 %}
        # Restore idle timeout
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}

        # Wait for hotend to reach temperature
        {% if etemp > 0 %}
            M109 S{etemp|int}
        {% endif %}

        M83                                             # Relative extruder mode
        M106 S0                                         # Turn off part cooling fan

        # Move to purge chute and purge
        G1 X93 F12000
        G1 Y324 F12000
        G92 E0
        G1 E5 F50                                       # Slow initial extrusion
        G92 E0
        G1 E50 F200                                     # Purge filament
        G92 E0
        G1 E-0.8 F200                                   # Retract slightly
        G4 P300

        # Restore fan speed
        M106 S{efan}

        # Activate purge ejection arm
        G1 Y318 F30000
        G1 Y322 F3000
        G1 Y318 F30000
        G1 Y322 F3000
        G1 Y318 F30000
        G1 Y322 F3000
        G1 Y324 F600

        # Brush wipe
        G1 X58 F12000
        G1 X78 F12000
        G1 X58 F12000
        G1 X78 F12000
        G1 X58 F12000
        G1 X78 F12000
        G1 X58 F12000
        G1 X78 F12000
        G1 X58 F12000
        G1 X78 F12000
        G1 X58 F12000
        G1 X78 F12000
        G1 X93 F12000

        # Leave purge chute area
        G1 Y316 F9000
        G1 Y312 F600
        G1 Y260 F12000

        # Restore position and resume
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=15
        BASE_RESUME
    {% endif %}


#######################################
# Print Cancel
#######################################
# Raises bed, moves to purge chute, turns off all heaters and fans

[gcode_macro CANCEL_PRINT]
description: Cancel the current print
rename_existing: BASE_CANCEL_PRINT
gcode:
    # Raise bed if not already high enough
    {% if (printer.gcode_move.position.z) < 200 %}
        G1 Z200 F600
    {% endif %}

    # Move clear of print area
    {% if (printer.gcode_move.position.y) > 300 %}
        G1 Y250 F6000
    {% endif %}

    # Move to purge chute
    G1 X93 F7800
    G1 Y324 F7800

    # Restore timeouts and clear states
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    CLEAR_PAUSE

    # Turn off all fans
    M106 P0 S0                                          # Turn off part cooling fan
    M106 P2 S0                                          # Turn off auxiliary fan
    M106 P3 S0                                          # Turn off exhaust fan

    # Turn off all heaters
    M104 S0                                             # Turn off hotend
    M140 S0                                             # Turn off bed
    M141 S0                                             # Turn off chamber

    # Reset speed and flow
    M220 S100
    M221 S100

    # Disable steppers
    SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
    SET_STEPPER_ENABLE STEPPER=stepper_y enable=0
    SET_STEPPER_ENABLE STEPPER=stepper_z enable=1       # Keep Z enabled to hold bed position
    SET_STEPPER_ENABLE STEPPER=stepper_z1 enable=1
    SET_STEPPER_ENABLE STEPPER=extruder enable=0

    # SET_SKEW CLEAR=1                                  # Requires [skew_correction] in printer.cfg - add later if needed
    SET_GCODE_OFFSET Z=0                                # Reset Z offset
    BED_MESH_CLEAR                                      # Clear bed mesh
    G31                                                 # Reset to KAMP adaptive mesh mode

    # Disable all motors
    M84

    # Execute base cancel
    BASE_CANCEL_PRINT
    G4 P1000

    # Turn off case light
    SET_PIN PIN=caselight VALUE=0